#back{
	font-size: 12px;
	font-weight: bold;
	color: white;
	background: #C60;
	padding: 7px 20px;
	border: none;
	border-radius: 5px;
	margin-top: 10px;
	cursor: pointer;
}
a #back:hover {
	background: rgb(204, 51, 1);
}