<form (submit)="logginUser($event)">
	<legend>Đăng Nhập</legend>
	<img src="./../../../assets/hinh/user_128x117.png" class="logo">
	<br>
	<input type="text" placeholder="username" class="username" id="username" autocomplete="off"> 
	<br>
	<br>
	<input type="password" placeholder="username" class="password" id="password">
	<br>
	<br>
	<label>Chọn quyền đăng nhập</label>
	<select id="selected">
		<option id="user" value="user">Nhân Viên</option>
		<option id="admin" value="admin">Admin</option>
		<option id="manager" value="manager">Quản Lý</option>
	</select>
	<h4 *ngIf="colorCheck"[style.color]="colorCheck" >{{isChecked?"Đăng nhập thành công":"Đăng nhập thất bại"}}</h4>
	<br>
	<h4 class='warming' *ngIf="msg" [style.color]="'red'">{{msg}}</h4>
	<input type="submit" value="Đăng nhập" class="button">
</form>